.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  background-color: antiquewhite;
  box-shadow: #bbad9b 0px 0px 20px 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 16px;
}

.logo-text {
  font-weight: bolder;
  text-transform: uppercase;
  margin-inline-start: 5px;
}

.instructions {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  text-align: center;
  font-size: 25px;
  margin-top: 90px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1024px) {
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
